body {
    font-family: Arial, Helvetica, sans-serif; /* fuente utilizada para el texto */
    margin: 0; /* elimina el margen por defecto del navegador */
    padding: 0; /* elimina el padding por defecto del navegador */
    background-color: #ecf8f4; /* color de fondo blanco claro */
    display: flex; /* utiliza flexbox para alinear los elementos en el centro del contenedor */
    justify-content: center; /* centra horizontalmente el contenido del contenedor */
    align-items: center; /* centra verticalmente el contenido del contenedor */
    height: 100vh; /* establece la altura al 100% de la ventana del navegador */
    text-align: center;
    background-image: url(fondo.2.jpg);
    background-size: cover;
  }
  
  .container {
    background-color: #cdf5fc; /* color de fondo azul para el contenedor */
    width: 350px; /* ancho del contenedor reducido para una maqueta más pequeña */
    border-radius: 10px; /* borde redondeado para un efecto suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra para darle profundidad */
    overflow: hidden; /* oculta cualquier contenido que exceda los bordes del contenedor */
    height: 400px; /* altura automática para ajustarse al contenido */
  }
  
  /* Cabecera */
  .cabezera {
    display: flex;
    height: 100px;
    align-items: center;
  }
  
  .cabezera img {
    background-color: rgb(110, 248, 191); /* color de fondo verde claro para la cabecera */
    height: 80px;
    width: 120px; /* ancho para la cabecera 40% */
    margin-left: 120px; /* centra de izquierda a derecha */
  }
  
  
.generar-contraseña {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.generar-contraseña:hover {
    background-color: #788678;
}
   
    
  
 